
#menu{

	font-family:Verdana;	
	margin-top: -280px;
	background-image:url('TecWeb/css/images/Header/menu/fundomenu.png');width: 103%;height: 82px;margin-top: -300px;margin-left: -30px;

}



ul{
	margin:300px 200px;
	padding:0;
	display:flex; 

}


ul li{
	text-align: center;
	margin-top: 25px;
	list-style: none;
	padding:4px 15px;
}



ul li a {
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	font-size:18px;
	position:relative;
	color: #262626

}

ul li a:before{
	content: '';
	width:0;
	height: 5px;
	background:#00bcd4;
	position: absolute;
	top:120%;
	left:0;
	transition: .5s;
}

ul li:hover a:before{
	width:80%;
	display: block;

}


/*LOGOMARCA*/
#logo {background-image:url('TecWeb/css/images/Header/menu/impacta_logo.png');width: 100px;height: 48px;margin-top:-60px;margin-left: 30px;}


/* BANNER PROPAGANDA */

#banner {background-image:url('TecWeb/css/images/cursos-online.jpg');width: 101%; height: 500px;margin-top: -6px;)}

#box {background-image:url(TecWeb/css/images/box/box.png);width: 436px ; height: 325px; margin-left: 150px;	}
#linebox1 {background-image:url(TecWeb/css/images/box/linebox1.png);width: 436px ; height: 4px; margin-left: 150px;margin-top:-327px;	}
#box2 {background-image:url(TecWeb/css/images/box/box2.png);width: 431px ; height: 567px; margin-left: 760px;}
#linebox2 {background-image:url(TecWeb/css/images/box/linebox2.png);width: 432px ; height: 4px; margin-left: 759px;margin-top:-568px;}

h2 {
	font-family: Arial;
	font-size: 0.8em;
	color:#262626;
	text-align: left;
	position: relative;
	text-transform: left;


}

h1{
	font-family: Helvetica;
	font-size: 1.5em;
	color:red;
	text-align: center;
	text-transform: capitalize;

}
h3{
	font-family: Arial;
	font-size: 0.6em;
	color:black;
	text-align: justify;
	text-transform: capitalize;

}
#rodape{
	font-family: Arial;
	color: #FFF;
	text-align: center;
	background-image:url(TecWeb/css/images/Footer/rodape.png); 
	width:103%;
	height: 82px;
	margin-top: 650px;



}

table {

	text-transform:	capitalize;
	text-align: center;



}

#cursos{
	background-image:url(TecWeb/fundocurso.png);
	width:700px;
	height: 152px;

}

#grade{
	background-image:url(TecWeb/fundocurso.png);
	width:700px;
	height: 600px;



